.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #313131;
    opacity: 1;
    z-index: 999;
}

.header * {
    opacity: 1;
}