@import url('https://fonts.cdnfonts.com/css/public-pixel');

.letter-link {
  text-decoration: none;
  font-size: 36px;
  font-family: 'Public Pixel', sans-serif;
  font-weight: 400;
  color: cyan;
  transition: color 0.2s ease;
}

.letter-link:hover {
  color: magenta;
}
