@import url('https://fonts.cdnfonts.com/css/public-pixel');

.frontpage {
    margin-top: 30px;
}

.first-row {
    color: cyan;
    font-family: 'Public Pixel', sans-serif;
    font-size: 56px;
    min-height: 70px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 30px;
    transform: scaleY(1.5);
}

.second-row {
    color: lightcyan;
    font-family: 'Public Pixel', sans-serif;
    font-size: 48px;
    min-height: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.description {
    text-align: center;
    font-size: 24px;
    width: 55%;
    margin: 0 auto;
    font-family: Garamond;
    color: white;
}

.ascent {
  font-weight: bolder;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    red
  );
  background-size: 400% 100%;
  background-position: 0% 0%;
  
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
  0%   { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

.svg-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
